# Base de données
# En local : postgresql://pm:pm@localhost:5432/proto
# En prod : injecté par Coolify
DATABASE_URL=postgresql://pm:pm@localhost:5432/proto

# Application
NEXT_PUBLIC_APP_URL=http://localhost:3000
