# Dependencies
node_modules/
.pnp
.pnp.*

# Testing
coverage/
playwright-report/
test-results/
.last-run.json

# Next.js
.next/
out/
build/
dist/

# Production
*.tsbuildinfo
next-env.d.ts

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Misc
*.pem
.vercel
